Release/callstacks.txt
Release/PDFIndexExplorer.exp
Release/PDFIndexExplorer.iobj
Release/PDFIndexExplorer.ipdb
Release/PDFIndexExplorer.lib
Release/PDFIndexExplorer.pdb
Release/SumatraPDF-settings.txt
PDFIndexExplorer/Release/
.vs/
Setup1/Release/PDFIncexExplorer.msi
Setup1/Release/setup.exe
*.pch
*.obj
*.pdb
PDFIndexExplorer/Debug/PDFIndexExplorer.tlog/
UpgradeLog.htm
Release/temp.pdf
Release/sumatrapdfcrash.dmp
PDFIndexExplorer/Debug/vc141.idb
PDFIndexExplorer/Debug/PDFIndexExplorer.log
Release/sumatrapdfcache/
Setup_old.exe
WordSearch/x64/
*.iobj
*.ipdb
WordSearch/Release/
*.exp
Release/WordSearch.exe
Release/WordSearch.lib
